* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Display", sans-serif;
}

body {
    background: #fcfcfc;
}

.container {
    display: flex;
    height: 100vh;
    padding: 24px;
    overflow: hidden;
}

.sidebar {
    width: 320px;
    height: calc(100vh - 48px);
    position: fixed;
    top: 24px;
    left: 24px;
    background: #f4f4f4;
    border: 1px solid #ededed;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 14px;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
}

.logo span {
    line-height: 1;
    margin-bottom: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.line-sidebar {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 8px;
}

.line-guru {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 8px;
}

.line-data {
    border: none;
    border-bottom: 1px solid #e8e8e8;
    margin: 24px 0px;
}

.menu-title {
    font-size: 14px;
    color: #8d8d8d;
    font-weight: 500;
    margin: 8px 0 4px 4px;
    letter-spacing: 0.5px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.menu a {
    text-decoration: none;
    color: #4f4f4f;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.menu a.active {
    background: #fcfcfc;
    color: #121212;
    border-radius: 8px;
    border: 1px solid #ededed;
    font-weight: 500;
}

.submenu {
    margin-top: 12px;
}

.user-card {
    background: #fcfcfc;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 14px;
    border: 1px solid #ededed;
}

.avatar {
    width: 48px;
    height: 48px;
    background: #c7e6f5;
    color: #0a7ac9;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.user-name {
    font-weight: 600;
    font-size: 14px;
}

.user-meta {
    display: flex;
    align-items: center;
    gap: 6px;
}

.badge {
    background: #eaf4ff;
    border: 1px solid #d8ebff;
    color: #0176f4;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 20px;
}

.nis {
    font-size: 13px;
    color: #888;
}

.logout-btn {
    margin-top: 0px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ce0000;
    font-size: 14px;
    cursor: pointer;
}

.logout-btn iconify-icon {
    color: #ce0000;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content {
    margin-left: 368px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-bottom: 48px;
    height: calc(100vh - 48px);
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.greeting {
    font-size: 16px;
    color: #8d8d8d;
    margin-bottom: 6px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.notif-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #fcfcfc;
    border: 1px solid #ebebeb;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

.banner {
    height: 240px;
    border-radius: 16px;
    background: url("/images/Frame 58.png") center/cover no-repeat;
    margin: 32px 0;
    padding: 57px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.banner-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.banner-desc {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 28px;
    /* max-width: 420px; */
}

.banner-btn {
    width: fit-content;
    background: white;
    color: #121212;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}

.card-group {
    gap: 12px;
}

.section-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card {
    flex: 1;
    height: 172px;
    border-radius: 16px;
    border: 1px solid #ececec;
    background: #fcfcfc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-icon {
    width: 45px;
    height: 45px;
    background: #e4f0fd;
    border: 1px solid #d3e5f9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0176f4;
}

.card-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
}

.card-desc {
    font-size: 13px;
    line-height: 1.4;
    color: #8d8d8d;
}

a.card {
    text-decoration: none;
    color: inherit;
}

.page-header {
    margin-bottom: 32px;
}

.breadcrumb {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 32px;
}

/* yang ga aktif */
.breadcrumb-inactive {
    color: #5c5c5c;
}

/* yang aktif */
.breadcrumb-active {
    color: #121212;
    font-weight: 500;
}

/* icon default abu */
.breadcrumb iconify-icon {
    color: #5c5c5c;
}

.page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.page-desc {
    font-size: 14px;
    color: #7c7c7c;
}

.izin-layout {
    display: flex;
    gap: 60px;
    margin-top: 24px;
}

.izin-form {
    flex: 3;
}

/* CARD UTAMA */
.form-card {
    width: 560px;
    background: #fcfcfc;
    border: 1px solid #ebebeb;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 20px;
}

.card-header-box {
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    border: 1px solid #f0f0f0;
    background: #fcfcfc;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
}

.card-izin {
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card-number {
    color: #4da3ff;
    font-weight: 600;
}

.form-group {
    margin-bottom: 14px;
}

label {
    font-size: 11px;
    font-weight: 600;
    color: #121212;
    margin-bottom: 6px;
    display: block;
}

input,
select {
    width: 100%;
    height: 44px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 0 14px;
    font-size: 14px;
    color: #9c9c9c;
    background: #f4f4f4;
}

input {
    color: #121212;
    outline: none;
}

input::placeholder {
    color: #9c9c9c;
}

input[type="time"] {
    appearance: none;
    -webkit-appearance: none;
    background: #f4f4f4;
    color: #9c9c9c;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding-right: 40px;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%239C9C9C'%3E%3Cpath d='M5 7l5 5 5-5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    outline: none;
}

.time-input {
    position: relative;
}

.time-input input {
    width: 100%;
    height: 44px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 0 40px 0 14px;
    font-size: 14px;
    background: #f4f4f4;
    color: #121212;
}

/* placeholder jadi --.-- */
.time-input input::placeholder {
    color: #9c9c9c;
}

/* hide icon default browser */
.time-input input::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
}

/* icon custom */
.time-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #9c9c9c;
    pointer-events: none;
}

.form-row {
    display: flex;
    gap: 12px;
}

.form-row .form-group {
    flex: 1;
}

.radio-group {
    display: flex;
    gap: 16px;
    margin-bottom: 14px;
}

.form-actions {
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

.form-actions form {
    flex: 1;
}

.btn-cancel {
    flex: 1;
    background: #fcfcfc;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    padding: 12px;
    color: #ce0000;
}

.btn-kembali {
    flex: 1;
    background: #fcfcfc;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    padding: 12px;
    color: #121212;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.btn-kembali,
.btn-submit {
    flex: 1;
}

.btn-submit {
    width: 100%;
    background: black;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.toggle-group {
    display: flex;
    gap: 12px;
    margin-bottom: 18px;
}

.toggle-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 12px 18px;
    font-size: 12px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    background: #fff;
    transition: all 0.2s ease;
}

.toggle-item input {
    display: none;
}

.custom-radio {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 2px solid #dadada;
    display: inline-block;
}

.toggle-item:has(input:checked) {
    background: #f0f7ff;
    border-color: #0176f4;
}

.toggle-item input:checked + .custom-radio {
    background: #0176f4;
    border-color: #0176f4;
}

.toggle-item input:checked + .custom-radio::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: white;
    margin: auto;
    margin-top: 4px;
    border-radius: 2px;
}

textarea {
    width: 100%;
    min-height: 120px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 12px;
    font-size: 13px;
    background: #f4f4f4;
    resize: none;
    outline: none;
}

input {
    background: #f4f4f4;
}

textarea::placeholder,
input::placeholder {
    color: #9c9c9c;
}

/* css step kanan urutan */
.izin-steps {
    width: 328px;
    background: #fcfcfc;
    border: 1px solid #ececec;
    border-radius: 16px;
    padding: 24px;
    height: fit-content;
}

.izin-steps .step {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    padding-bottom: 24px;
}

.izin-steps .step::before {
    content: "";
    position: absolute;
    left: 16px;
    width: 2px;
    height: calc(100% - 10px);
    border-left: 1.5px dashed #e0e0e0;
}

.izin-steps .step:last-child::before {
    display: none;
}

.izin-steps .step-number {
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 1;
}

.izin-steps .step.active .step-number {
    background: #e4f0fd;
    border: 1px solid #d3e5f9;
    color: #0176f4;
}

.izin-steps .step-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
}

.izin-steps .step p {
    font-size: 12px;
    color: #7c7c7c;
    line-height: 1.8;
}

/* css dashboard aktivitas perizinan */
.empty-state {
    margin-bottom: 48px;
    padding: 40px 20px;
    border-radius: 16px;
    border: 1px solid #f1f1f1;
    background: #f8f8f8;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.empty-izin {
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal center */
    justify-content: center; /* vertical center */
    text-align: center;

    height: 100%; /* penting */
}

.empty-wrapper {
    display: flex;
    justify-content: center; /* tengah horizontal */
    align-items: center; /* tengah vertical */
    min-height: calc(100vh - 40px);
    width: 100%; /* sesuaikan header kalau ada */
}

.empty-icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    /* background: #eaf2ff; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #0176f4; */
    margin-bottom: 16px;
}

.empty-icon img {
    width: 72px;
    height: 72px;
    object-fit: contain;
}

.empty-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.empty-desc {
    font-size: 14px;
    color: #7c7c7c;
    margin-bottom: 24px;
    max-width: 300px;
}

.empty-btn {
    background: #121212;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
    transition: 0.2s;
}

.empty-btn:hover {
    opacity: 0.85;
}

/* informasi guru */
.guru-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.guru-card {
    flex: 1;
    background: #fcfcfc;
    border: 1px solid #ededed;
    border-radius: 14px;
    padding: 14px;

    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.guru-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.guru-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.guru-name {
    font-size: 12px;
    font-weight: 600;
}

.guru-badge {
    display: flex;
    gap: 6px;
}

.badge-bk {
    background: #eaf4ff;
    border: 1px solid #d8ebff;
    color: #0176f4;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 20px;
}

.badge-status {
    background: #ffeef5;
    border: 1px solid #ffe2ed;
    color: #f4015e;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 20px;
}

.badge-umum {
    background: #eaf4ff;
    border: 1px solid #d8ebff;
    color: #0176f4;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 20px;
}

.guru-arrow {
    position: absolute;
    right: 12px;
    font-size: 18px;
    color: #9c9c9c;
}

/* pop up */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    width: 480px;
    height: fit-content;
    background: #fcfcfc;
    border-radius: 20px;
    padding: 32px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-actions {
    width: 100%;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.modal-icon {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 16px;
    width: 60%;
}

.icon-box {
    width: 52px;
    height: 52px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.icon-box-green {
    width: 52px;
    height: 52px;
    border-radius: 8px;
    background: #E1FCEE;
    border-radius: 1px solid #CBF6E0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.icon-box iconify-icon {
    font-size: 24px;
    color: #0176f4;
}

.icon-box-green iconify-icon {
    font-size: 24px;
    color: #1DB366;
}

.icon-box.gray iconify-icon {
    color: #646464;
}

.icon-box.red iconify-icon {
    color: #ce0000;
}

.icon-box.blue {
    background: #e4f0fd;
    border: 1px solid #d3e5f9;
}

.icon-box.red {
    background: #ffe8e8;
    border: 1px solid #fddede;
}

.icon-box.gray {
    background: #f1f1f1;
    border: 1px solid #ebebeb;
}

.icon-line {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
    width: 50%;
}

.line {
    flex: 1;
    border-top: 1px dashed #dadada;
}

.line-red {
    flex: 1;
    border-top: 1px dashed #ce0000;
}

.line-green {
    flex: 1;
    border-top: 1px dashed #1DB366;
}

.line:first-child {
    border-top: 1px dashed #0176f4;
}

.circle {
    width: 28px;
    height: 28px;
    background: #121212;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

.modal-title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

.modal-desc {
    font-size: 14px;
    text-align: center;
    color: #7c7c7c;
    line-height: 1.6;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.modal-actions {
    display: flex;
    gap: 12px;
}

.modal-actions button {
    flex: 1;
}

.modal-box {
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* sudah ada data */
.izin-card {
    background: #fcfcfc;
    border-radius: 16px;
    padding: 18px;
    border: 1px solid #eee;
}

.izin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.izin-left {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
}

.izin-icon {
    width: 48px;
    height: 48px;
    background: #fcfcfc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
}

.izin-icon iconify-icon {
    font-size: 44px;
    color: #fcbd27;
}

.izin-icon iconify-icon-green {
    font-size: 44px;
    color: #1db366;
}

.izin-date {
    font-size: 12px;
    color: #7c7c7c;
    margin-bottom: 4px;
}

.izin-text {
    display: flex;
    flex-direction: column;
}

.izin-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.izin-title {
    font-weight: 600;
    font-size: 14px;
    color: #121212;
}

.izin-user {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #f4f4f4;
    padding: 4px 12px;
    border: 1px solid #ededed;
    border-radius: 999px;
    font-size: 12px;
}

.izin-user img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fcfcfc;
}

.izin-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.izin-detail {
    border: 1px solid #ebebeb;
    background: #fcfcfc;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 12px;
}

.izin-step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.izin-step .step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.izin-step .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 11px;
    color: #9ca3af;
}

.izin-step .step .dot {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid #ebebeb;
    color: #646464;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 12px;
}

.izin-step .step p {
    line-height: 1.5;
    font-size: 12px;
    color: #121212;
}

.izin-step .step.done .dot {
    background: #0176f4;
    color: white;
    border: 1px solid #3d99ff;
}

.izin-step .step.active .dot {
    background: #e4f0fd;
    color: #0176f4;
    font-weight: 500;
    border: 1px solid #d3e5f9;
}

.izin-step .line {
    width: 80px;
    border-top: 1px dashed #d1d5db;
    position: relative;
    top: -20px;
}

.izin-step .line.active {
    border-top: 1px dashed #3b82f6;
}

.izin-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.izin-menu iconify-icon {
    font-size: 18px;
    color: #000000;
    cursor: pointer;
}

.izin-divider {
    margin-top: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.izin-left-2 {
    display: flex;
    align-items: center;
    gap: 14px;
}

.line-izin {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-izin {
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card-content .row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 12px;
}

.card-content label {
    width: 100px;
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 500;
}

.value {
    background: #f4f4f4;
    border: 1px solid #e8e8e8;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14px;
    color: #2e2e2e;
}

.value.small {
    width: fit-content;
}

.value.guru {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foto-guru {
    width: 24px;
    height: 24px;
    border: 1px solid #fcfcfc;
    border-radius: 50%;
    object-fit: cover;
}

.jam-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow {
    font-size: 16px;
    color: #555;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-batal-izin {
    background: #fcfcfc;
    color: #ce0000;
    border: 1px solid #e8e8e8;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    transition: 0.2s;
}

.btn-batal-izin:hover {
    background: #e8e8e8;
}

/* dashboard guru */

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.greeting {
    font-size: 14px;
    color: #888;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 5px;
}

/* CARD */
.card-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card-guru {
    background: #fcfcfc;
    border: 1px solid #f1f1f1;
    border-radius: 16px;
    padding: 28px 24px 28px 24px;
    flex: 1;
    position: relative;
}

.card-icon-guru {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

.card-icon iconify-icon {
    font-size: 20px;
}

.blue {
    background: #e4f0fd;
    color: #0176f4;
    border: 1px solid #d3e5f9;
}

.green {
    background: #e1fcee;
    color: #1db366;
    border: 1px solid #cbf6e0;
}

.red {
    background: #ffe8e8;
    color: #ce0000;
    border: 1px solid #fddede;
}

.card-value {
    font-size: 22px;
    font-weight: bold;
}

.card-icon-guru iconify-icon {
    font-size: 20px;
}

.card-label {
    font-size: 13px;
    color: #888;
}

.card-link {
    margin-top: 12px; /* kasih jarak dari atas */

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 13px;
    color: #555;
    cursor: pointer;
}

.card-top-guru {
    display: flex;
    align-items: center;
    gap: 12px;
}

.line-guru {
    margin: 16px 0;
}

/* SECTION */
.section {
    background: transparent !important;
    border-radius: 16px;
    padding: 20px;
    min-height: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

.section-item {
    background: transparent !important;
}

.section-title {
    font-weight: 600;
    margin-bottom: 15px;
}

/* EMPTY STATE */
.empty-state-guru {
    margin-bottom: 48px;
    padding: 40px 20px;
    border-radius: 16px;
    border: 1px solid #f1f1f1;
    background: #fcfcfc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    text-align: center;
}

.empty-icon {
    width: 60px;
    height: 60px;
    background: #e7f0ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-icon iconify-icon {
    font-size: 28px;
    color: #3b82f6;
}

.empty-desc {
    font-size: 13px;
    color: #888;
    max-width: 250px;
}

.card-izinn {
    background: #fcfcfc;
    border: 1px solid #f1f1f1;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 16px;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.05); */
}

.card-header {
    display: block;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-header-izin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.tanggal {
    font-size: 12px;
    color: #7c7c7c;
    margin-bottom: 4px;
}

.nama {
    font-size: 16px;
    font-weight: 600;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.nama-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nama {
    font-size: 14px;
    font-weight: 600;
}

.badge {
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 999px;
    font-weight: 500;
}

.badge.siswa {
    background: #eaf4ff;
    border: 1px solid #d8ebff;
    color: #0176f4;
}

.badge.sija {
    background: #ffeef5;
    border: 1px solid #ffe2ed;
    color: #f4015e;
}

.action {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-tolak {
    background: #fcfcfc;
    border: 1px solid #ebebeb;
    color: #ce0000;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.btn-setuju {
    background: #121212;
    color: #fff;
    border: 1px solid #3b3b3b;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.arrow {
    font-size: 18px;
    transition: 0.3s;
}

.badge-status.disetujui {
    background: #e1fcee;
    color: #1db366;
    border: 1px solid #cbf6e0;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
}

.badge-status.ditolak {
    background: #ffe8e8;
    color: #ce0000;
    border: 1px solid #fddede;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
}

.arrow {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.card-body {
    /* display: none; */
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.label {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.box {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    font-size: 13px;
}

.card-header-none {
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.filter-tabs {
    display: inline-flex;
    background: #f3f4f6;
    padding: 4px;
    border-radius: 12px;
    margin-top: 16px;
}

.tab {
    border: none;
    background: transparent;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    color: #6b7280;
}

.tab.active {
    background: #fcfcfc;
    border: 1px solid #ebebeb;
    color: #121212;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    position: relative;
    width: 40%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #7c7c7c;
}

.search-box input {
    width: 100%;
    padding: 12px 16px 12px 42px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background: #fcfcfc;
    font-size: 14px;
    color: #7c7c7c;
}

.filter-box {
    display: flex;
    gap: 10px;
}

.dropdown {
    position: relative;
    width: fit-content;
}

.dropdown-btn {
    display: flex;
    width: fit-content;
    gap: 8px;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    background: #fcfcfc;
    cursor: pointer;
    font-size: 14px;
    color: #7c7c7c;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    z-index: 10;
}

.dropdown-content div {
    padding: 10px 14px;
    font-size: 14px;
    color: #7c7c7c;
    background: #fcfcfc;
    cursor: pointer;
    transition: 0.2s;
}

.dropdown-content div:hover {
    background: #f5f5f5;
}

.dropdown.active .dropdown-content {
    display: block;
}

.modal-overlay-izin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);

    z-index: 999;
}

.modal-box-izin {
    width: 100%;
    max-width: 560px;

    max-height: 85vh;
    overflow-y: auto;

    background: white;
    border-radius: 16px;
    padding: 16px;

    position: relative;
}

.modal-box-izin::-webkit-scrollbar {
    display: none;
}

.modal-box-izin {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-close-izin {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
}

.form-card-izin {
    width: 100%;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: 8px;
}
